<footer>
<div class="f-info">
<div class="f-info-socials">
    <a href="https://www.linkedin.com/in/harsh-kumar-2474a928a/"><i class="fa-brands fa-facebook icons"></i></a>
    <a href="https://www.instagram.com/harsh_kumar967/"><i class="fa-brands fa-instagram icons"></i></a>
    <a href="https://www.linkedin.com/in/harsh-kumar-2474a928a/"><i class="fa-brands fa-linkedin icons"></i></a>
    <a href="https://x.com/HarshKumar28121"><i class="fa-brands fa-twitter icons"></i></a>
</div>
<div class="f-info-brand"> &copy;WanderLust Private Limited</div>
<div class="f-info-links">
    <a  href="/privacy">Privacy</a>
     <a href="/terms">Terms</a>
</div>

</div>

</footer>